services:
  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master-rdd-scala
    command:
      - /opt/spark/bin/spark-class
      - org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - SPARK_MASTER_HOST=spark-master

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker-rdd-scala
    command:
      - /opt/spark/bin/spark-class
      - org.apache.spark.deploy.worker.Worker
      - spark://spark-master:7077
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    volumes:
      - ./app/data:/data
    environment:
      - SPARK_WORKER_MEMORY=1g
      - SPARK_WORKER_CORES=2
